<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ReservationMapper">

    <insert id="insertReservation" parameterType="com.blog.dto.ReservationDto">
        INSERT INTO reservation 
        (order_id, user_id, item_name, category, amount, status, image_url, check_in, check_out, address, details)
        VALUES 
        (#{orderId}, #{userId}, #{itemName}, #{category}, #{amount}, #{status}, #{imageUrl}, #{checkIn}, #{checkOut}, #{address}, #{details})
    </insert>
	
	<select id="countReservationsByUserId" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM reservation WHERE user_id = #{userId}
    </select>

    <select id="findRecentReservationsByUserId" parameterType="long" resultType="com.blog.dto.ReservationDto">
        SELECT * FROM reservation WHERE user_id = #{userId} ORDER BY created_at DESC LIMIT 5
    </select>

    <select id="findAllReservationsByUserId" parameterType="long" resultType="com.blog.dto.ReservationDto">
        SELECT * FROM reservation WHERE user_id = #{userId} ORDER BY created_at DESC 
    </select>
    
    <select id="findAllWithUser" resultType="com.blog.dto.ReservationDto">
        SELECT r.*, u.nickname 
        FROM reservation r 
        LEFT JOIN users u ON r.user_id = u.user_id 
        ORDER BY r.created_at DESC
    </select>
	
    <select id="findByOrderId" parameterType="string" resultType="com.blog.dto.ReservationDto">
        SELECT * FROM reservation WHERE order_id = #{orderId}
    </select>
	
</mapper>