<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.WishlistMapper">

    <select id="findByUserId" resultType="com.blog.dto.WishlistDto">
        SELECT 
            w.wishlist_id AS wishlistId, 
            w.user_id AS userId, 
            w.place_id AS placeId, 
            w.category AS category,
            w.api_id AS apiId,
            w.created_at AS createdAt,
            w.price AS price,  IFNULL(p.name, w.item_name) AS placeName, 
            IFNULL(p.region, 'API/WEB') AS placeRegion, 
            IFNULL(p.category, w.category) AS placeCategory, 
            IFNULL(p.image_url, w.image_url) AS imageUrl
        FROM wishlists w
        LEFT JOIN places p ON w.place_id = p.place_id
        WHERE w.user_id = #{userId}
        ORDER BY w.created_at DESC
    </select>

    <insert id="insertWishlist" parameterType="com.blog.dto.WishlistDto">
	    INSERT INTO wishlists (user_id, place_id, category, api_id, item_name, image_url, price) 
	    VALUES (#{userId}, #{placeId}, #{category}, #{apiId}, #{placeName}, #{imageUrl}, #{price})
	</insert>

    <delete id="deleteByUserAndPlace">
        DELETE FROM wishlists WHERE user_id = #{userId} AND place_id = #{placeId}
    </delete>

    <select id="findByUserAndPlace" resultType="com.blog.dto.WishlistDto">
        SELECT 
            wishlist_id AS wishlistId, 
            user_id AS userId, 
            place_id AS placeId, 
            category,
            api_id AS apiId,
            item_name AS placeName,
            image_url AS imageUrl,
            created_at AS createdAt
        FROM wishlists 
        WHERE user_id = #{userId} AND place_id = #{placeId}
    </select>

    <delete id="deleteByUserAndApi">
        DELETE FROM wishlists 
        WHERE user_id = #{userId} AND api_id = #{apiId} AND category = #{category}
    </delete>

    <select id="findByUserAndApi" resultType="com.blog.dto.WishlistDto">
        SELECT * FROM wishlists 
        WHERE user_id = #{userId} AND api_id = #{apiId} AND category = #{category}
    </select>

</mapper>